@import '@/shared/styles/mixins';

.VerificationFromTemplate {
  width: 100%;
  height: 100%;

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    flex-direction: column;
  }
}
