@import '@/shared/styles/mixins';

.NoItemFoundWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ItemsContainer {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: var(--space-xl);
  font-weight: 600;
  margin-bottom: var(--space-xs);
  text-align: center;
}

.description {
  font-size: var(--space-md);
  font-weight: 300;
  margin-bottom: var(--space-xl);
  text-align: center;
}
