@import '@/shared/styles/mixins';

.CredentialOffer {
  width: 100%;
  height: 100%;
  padding: var(--space-xxxxl);
  background-color: var(--color-primary-hiero-branded-2);
  border-radius: var(--space-xl);
  gap: var(--space-xxxxl);
  position: relative;
}

.mainContent {
  width: 100%;
  height: 100%;
  gap: var(--space-xl);
}

.imageWrapper {
  position: relative;
}

.header {
  gap: var(--space-xs);
}

.title {
  color: var(--color-light-high-emphasis);
  font: var(--font-headline-m);

  @include desktop {
    font: var(--font-headline-l);
  }
}

.description {
  color: var(--color-light-high-emphasis);
  font: var(--font-body-m);
}

.successIcon {
  position: absolute;
  bottom: calc(-1 * var(--space-sm));
  right: calc(-1 * var(--space-lg));
}

.buttonGroup {
  gap: var(--space-sm);
}
