:root {
  --color-primary: #2e2721;

  --color-primary-hover: #27211c;
  --color-primary-pressed: #201b17;

  --color-light-disabled: rgb(255 255 255 / 38%);
  --color-light-opacity-20: rgb(255 255 255 / 20%);
  --color-light-high-emphasis: rgb(255 255 255 / 90%);
  --color-light-medium-emphasis: rgb(255 255 255 / 65%);

  --color-dark-disabled: rgb(0 0 0 / 38%);
  --color-dark-opacity-05: rgb(0 0 0 / 5%);
  --color-dark-opacity-08: rgb(0 0 0 / 8%);
  --color-dark-opacity-10: rgb(0 0 0 / 10%);
  --color-dark-opacity-30: rgb(0 0 0 / 30%);
  --color-dark-opacity-33: rgb(0 0 0 / 33%);
  --color-dark-opacity-36: rgb(0 0 0 / 36%);
  --color-dark-high-emphasis: rgb(0 0 0 / 90%);
  --color-dark-medium-emphasis: rgb(0 0 0 / 65%);

  --color-primary-opacity-6: rgb(157 116 82 / 8%);
  --color-primary-opacity-9: rgb(157 116 82 / 12%);
  --color-primary-opacity-12: rgb(157 116 82 / 16%);

  --color-text-on-surface: #333;
  --color-surface-2: #f7f4f1;
  --color-surface-4: #f1ece7;
  --color-surface-deep: #fff;
  --color-surface-grey-2: #edeff1;

  --color-dark-outline-medium: rgb(0 0 0 / 38%);
  --color-dark-outline-high: rgb(0 0 0 / 65%);

  --color-notification: #ef2727;

  --color-primary-hiero-branded-2: #b81a56;
}
