:root {
  // box-shadows
  --shadow-small: 0 0 8px 0 rgb(0 0 0 / 7%), 0 2px 4px 0 rgb(0 0 0 / 7%),
    0 1px 2px 0 rgb(0 0 0 / 7%);
  --shadow-medium: 0px 0px 16px 0px rgb(0 0 0 / 7%),
    0px 6px 12px 0px rgb(0 0 0 / 7%), 0px 4px 8px 0px rgb(0 0 0 / 7%);
  --shadow-large: 0px 0px 48px 0px rgb(0 0 0 / 7%),
    0px 16px 32px 0px rgb(0 0 0 / 7%), 0px 12px 24px 0px rgb(0 0 0 / 7%);

  --outline-width: 2px;
}
