@import '@/shared/styles/mixins';

.Select {
  width: 100%;

  &[data-disabled] {
    .placeholder,
    .placeholder__selected {
      color: var(--color-dark-disabled);
    }

    .arrow {
      visibility: hidden;
    }

    .description,
    .error {
      color: var(--color-dark-disabled);
    }
  }
}

.activator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  border: 1px solid var(--color-dark-outline-medium);
  border-radius: var(--space-sm);
  padding-right: var(--space-sm);
  padding-left: var(--space-md);
  outline: none;

  &__invalid {
    color: var(--color-notification);
    border-color: var(--color-notification);
  }

  &[data-focus-visible] {
    @include outline;
  }

  &[data-hovered] {
    border-color: var(--color-dark-outline-high);
  }

  &[data-pressed] {
    border-color: var(--color-primary);
  }

  &[data-disabled] {
    cursor: default;
    color: var(--color-dark-disabled);
    border: none;
    background-color: var(--color-dark-opacity-05);
  }
}

.valueBox {
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);

  &__selected {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;

    margin-top: var(--space-xs);
    margin-bottom: var(--space-xs);
  }

  &__oneLine {
    margin-top: var(--space-md);
    margin-bottom: var(--space-md);
  }

  &__disabled {
    color: var(--color-dark-disabled);
  }
}

.placeholder {
  font: var(--font-body-m);
  color: var(--color-dark-medium-emphasis);

  &__selected {
    font: var(--font-label-m);
    color: var(--color-dark-medium-emphasis);
  }
}

.value {
  font: var(--font-body-m);
}

.description {
  margin-top: var(--space-xxxxs);
  font: var(--font-label-m);
  color: var(--color-dark-medium-emphasis);
}

.error {
  margin-top: var(--space-xxxxs);
  font: var(--font-label-m);
  color: var(--color-notification);
}

.invalid {
  .placeholder {
    color: var(--color-notification);

    &__selected {
      color: var(--color-notification);
    }
  }
}

.popover {
  overflow: auto;
  width: 1px;
  background-color: var(--color-surface-deep);
  min-width: var(--trigger-width);
  border-radius: var(--space-md);
  padding: var(--space-xs);
  box-shadow: var(--shadow-large);
  outline: none;
}

.listBox {
  outline: none;
}

.listBoxItem {
  font: var(--font-body-m);
  border-radius: var(--space-xs);
  padding: var(--space-xs) var(--space-md);
  cursor: pointer;
  outline: none;
  overflow: auto;
  text-overflow: ellipsis;
  overflow-wrap: break-word;

  &[data-focus-visible] {
    @include outline;
  }

  &[data-hovered] {
    background-color: var(--color-primary-opacity-6);
  }

  &[data-pressed] {
    background-color: var(--color-primary-opacity-9);
  }

  &[data-disabled] {
    cursor: default;
    color: var(--color-dark-disabled);
    outline: none;
  }
}
