@import '@/shared/styles/mixins';

.panelMenuItemsWrapper {
  width: 100%;
  gap: var(--space-xxxs);
  padding: var(--space-sm) var(--space-xl);

  @include tablet {
    padding: var(--space-sm) 0;
  }

  @include mobile {
    padding: var(--space-sm) 0;
  }
}

.desktopPanelMenuItem {
  cursor: pointer;
  border-radius: var(--space-sm);
  padding: var(--space-sm) var(--space-md);
  gap: var(--space-xs);
  font: var(--font-body-s);
  color: var(--color-light-high-emphasis);

  &:hover {
    background-color: var(--color-primary-opacity-6);
  }
}

.activeItem {
  color: var(--color-light-high-emphasis);
  background-color: var(--color-primary-opacity-6);
}

.disabled {
  pointer-events: none;
}
