services:
  postgres:
    image: postgres:15
    ports:
      - '5433:5432'
    environment:
      - POSTGRES_USER=heka
      - POSTGRES_PASSWORD=heka1
      - POSTGRES_DB=heka-auth-service
  heka-auth-service:
    image: heka-auth-service:latest
    ports:
      - '3004:3004'
    environment:
      - APP_VERSION=${APP_VERSION:0.0.1}
      - APP_PORT=${APP_PORT:3004}
      - APP_ENABLE_CORS=true
      - ORG_ID=633890ba-ceff-4989-ad44-44f1d003d809
      - LOG_LEVEL=info
      - LOG_EXCLUDE_URLS=/version,/healthz
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=heka-auth-service
      - DB_USER=heka
      - DB_PASSWORD=heka1
      - JWT_ISSUER=Heka
      - JWT_AUDIENCE=Heka Identity Service
      - JWT_SECRET=test
      - JWT_ACCESS_EXPIRY=3600
      - JWT_REFRESH_EXPIRY=86400
      - DEMO_USER=demo
    depends_on:
      - postgres
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3004/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
