@import '@/shared/styles/mixins';

.IssueCredential {
  width: 100%;
  height: 100%;
  background: var(--color-light-high-emphasis);

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    flex-direction: column;
  }
}
