@import './styles/mixins';

.splash {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);
}

.status {
  font: var(--font-body-m);
  color: var(--color-dark-medium-emphasis);
}

.message {
  font: var(--font-body-s);
  color: var(--color-dark-medium-emphasis);
}

.actions {
  display: flex;
  gap: var(--space-sm);

  @include mobile {
    flex-direction: column;
  }
}
