@import '@/shared/styles/mixins';

.inputWrapper {
  position: relative;
}

.dragAndDropBtn {
  width: var(--space-xl);
  height: var(--space-xl);
  cursor: grab;
  position: absolute;
  top: var(--space-field-action-button-top);
  left: calc(-1 * var(--space-xs));
  transform: translate(-100%, -50%);

  &:active {
    cursor: grabbing;
  }

  @include mobile {
    left: 0;
  }
}

.deleteBtn {
  position: absolute;
  transform: translate(100%, -50%);
  top: var(--space-field-action-button-top);
  right: calc(-1 * var(--space-xs));

  @include mobile {
    right: 0;
  }
}
